@page "/Register"
@using UserManager.Shared.Utils
@layout EmptyLayout
@inject MessageService MessageService 
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<Card>
    <AntDesign.Title Style="text-align: center">
        <h3>注册</h3>
    </AntDesign.Title>
    <AntDesign.Form Loading="_loading" Model="@_registerModel"
                    LabelColSpan="4"
                    WrapperColSpan="16"
                    OnFinish="OnFinish"
                    Style="margin-top: 4rem;padding-bottom: 4rem;"
                    OnFinishFailed="OnFinishFailed">
        <FormItem Label="用户名">
            <Input @bind-Value="@context.Name"/>
        </FormItem>
        <FormItem Label="邮箱">
            <Input @bind-Value="@context.Email"/>
        </FormItem>
        <FormItem Label="密码">
            <InputPassword @bind-Value="@context.Password"/>
        </FormItem>
        <FormItem Label="确认密码">
            <InputPassword @bind-Value="@context.ConfirmPassword"/>
        </FormItem>
        <FormItem WrapperColOffset="4" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Submit
            </Button>
        </FormItem>
    </AntDesign.Form>
</Card>


@code {

    private bool _loading;

    private readonly RegisterModel _registerModel = new();

    private async void OnFinish()
    {
        _loading = true;
        _registerModel.Password = _registerModel.Password.Encrypt();
        _registerModel.ConfirmPassword = _registerModel.ConfirmPassword.Encrypt();
        var result = await AuthService.Register(_registerModel);
        _loading = false;
        StateHasChanged();
        if (result.Successful)
        {
            NavigationManager.NavigateTo("/Login");
            return;
        }
        _ = MessageService.Error(string.Join(",", result.Errors));
        _registerModel.Password = _registerModel.Password.Decrypt();
        _registerModel.ConfirmPassword = _registerModel.ConfirmPassword.Decrypt();
    }

    private void OnFinishFailed()
    {
    }

}