@inject ManageClient ManageClient

<MDialog @bind-Value="_open" Scrollable="true" MaxWidth="400">
    <ChildContent>
        <MCard>
            <MCardTitle Class="text-h5">
                修改用户信息
            </MCardTitle>
            <span style="height:4px;"></span>
            <MCardSubtitle>
                @_userDto.Email
            </MCardSubtitle>
            <MDivider/>
            <MCardText>
                <MListItem>
                    <MListItemContent>
                        用户等级 :
                    </MListItemContent>
                    <MListItemContent Class="align-end">
                        <MTextField TValue="int" Flat="true" Dense="true" @bind-Value="@_userDto.Class"></MTextField>
                    </MListItemContent>
                </MListItem>
                <MListItem>
                    <MListItemContent>
                        用户总流量(GB) :
                    </MListItemContent>
                    <MListItemContent Class="align-end">
                        <MTextField TValue="double" Flat="true" Dense="true" @bind-Value="@_userDto.TotalInGb"></MTextField>
                    </MListItemContent>
                </MListItem>
                <MListItem>
                    <MListItemContent>
                        等级到期时间 :
                    </MListItemContent>
                    <MListItemContent Class="align-end">
                        <MTextField TValue="string" Flat="true" Dense="true" @bind-Value="@_userDto.ClassExpireStr"></MTextField>
                    </MListItemContent>
                </MListItem>
                <MListItem>
                    <MListItemContent>
                        用户分组 :
                    </MListItemContent>
                    <MListItemContent Class="align-end">
                        <MTextField TValue="int" Flat="true" Dense="true" @bind-Value="@_userDto.NodeGroup"></MTextField>
                    </MListItemContent>
                </MListItem>
                <MListItem>
                    <MListItemContent>
                        用户分组到期时间 :
                    </MListItemContent>
                    <MListItemContent Class="align-end">
                        <MTextField TValue="string" Flat="true" Dense="true" @bind-Value="@_userDto.GroupExpireStr"></MTextField>
                    </MListItemContent>
                </MListItem>
                <MListItem>
                    <MListItemContent>
                        邀请人Id :
                    </MListItemContent>
                    <MListItemContent Class="align-end">
                        <MTextField TValue="int" Flat="true" Dense="true" @bind-Value="@_userDto.RefBy"></MTextField>
                    </MListItemContent>
                </MListItem>
            </MCardText>
            <MCardActions>
                <MButton Color="red darken-1" Text="true" OnClick="@(() => _open = false)">Cancel</MButton>
                <MButton Color="green darken-1" Text="true" OnClick="Confirm">Save</MButton>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>


@code {

    private bool _open;

    private UserDto _userDto;

    private Action<string, UserDto, bool>? _callback;

    public void Show(UserDto userDto, Action<string, UserDto, bool>? callback = null)
    {
        _open = true;
        _userDto = userDto;
        _callback = callback;
        StateHasChanged();
    }

    private async void Confirm()
    {
        var saveUser = await ManageClient.SaveUser(_userDto);
        _callback?.Invoke(saveUser ? "保存成功" : "保存失败", _userDto, true);
        _open = false;
        StateHasChanged();
    }

}